.tilt-parallax {
  transform-style: preserve-3d;
  border-radius: 10px;
  display: flex;
  margin: 0px 3em;
  text-align: center;
  cursor: pointer;
}

.card-wrapper {
  display: flex;
  z-index: 1;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: black;
  top: 10em;
  position: absolute;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.selected-tab {
  font-size: large;
  margin: 0;
  padding: 0.5rem;
}

.tab-before {
  font-size: medium;
  border-right: 2px black solid;
  border-bottom-right-radius: 5px;
  border-bottom: 2px black solid;
  margin: 0;
  padding: 0.5rem;
}

.tab-after {
  font-size: medium;
  border-left: 2px black solid;
  border-bottom-left-radius: 5px;
  border-bottom: 2px black solid;
  margin: 0;
  padding: 0.5rem;
}

.further-tab {
  font-size: medium;
  border-left: 1px black solid;
  border-bottom: 2px black solid;
  border-right: 1px black solid;
  margin: 0;
  padding: 0.5rem;
}

.right-edge-tab {
  font-size: medium;
  border-left: 1px black solid;
  border-bottom: 2px black solid;
  margin: 0;
  padding: 0.5rem;
}

.left-edge-tab {
  font-size: medium;
  border-bottom: 2px black solid;
  border-right: 1px black solid;
  margin: 0;
  padding: 0.5rem;
}

.tab-button {
  font-size: 2rem;
  border: 1px black solid;
  max-width: 8rem;
  text-align: center;
  border-radius: 11px;
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
}

.tab-button:hover {
  background-color: darkgray;
}
