.photo-container {
  background-color: white;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 1rem;

  position: absolute;
  z-index: 9;
  border: 1px solid #d3d3d3;
  text-align: center;
}
